<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
<form method="post" action="updateUser">
    <span>Username</span>
    <input type="text" name="userName" th:placeholder="${user[0].name}"></input>
    <input type="submit" name="updateButton" value="update"/>
</form>
<ul>
    <li>Username: App</li>
    <li>Text: Hi there! Submit your message using the send button!</li>
</ul>
<form method="post" action="sendMessage">
    <input type="text" name="message"/>
    <input type="submit" name="sendButton" value="send"/>
</form>
</body>
</html>